<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
 $(document).ready(function(){
	 $('#viz-nofilter').show();
	 $('#viz-1sdfilter').hide();

	 $("#filterbox").change(function() {
	 	$('#viz-nofilter').toggle();
	 	$('#viz-1sdfilter').toggle();
	 });
});
</script>
</head>

  <div id='vis-panel' class='term-viz' style="max-width: 800px;">
	<input type='checkbox' id='filterbox' name='filter' value='filter'> filter bipartisan terms
	<div id='viz-nofilter'>
		{% include term_align_nofilter.html %}
	</div>
	<div id='viz-1sdfilter'>
		{% include term_align_1sdfilter.html %}
	</div>
 </div>

