html {
    font-family: serif;
}
.container {    
    max-width: 1024px;
}
.prof-pic {
    float: left;
    height: 250px;
    margin-right: 20px;
}
.about {
    display: flow-root;
}

.center {
    text-align: center;
}

ul.links {
    display: block;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: large;
}
.links li {
    display: inline;
}

details {
    display: inline;
}

hr {
    margin: 0;
    border: none;
    max-width: 1024px;
    height: 1px;
    opacity: 0.5;
    background: linear-gradient( to right, red 20%, yellow 20%, yellow 36%, green 36%, green 60%, blue 60%, blue 100% );
}
